<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>


<%= link_to 'Edit', edit_recipe_comment_path([@recipe, @comment]) %>|
<%= link_to 'Back', recipe_comments_path(@recipe) %>
