<h1>Recipes</h1>
<p>Find me in app/views/recipes/show.html.erb</p>

<h2><%= @recipe.title %></h2>

<p><%= @recipe.description %></p>

<h2> Comments </h2>
<% @recipe.comments.each do |comment| %>
		<p><%= comment.content %> </p>
<% end %>